{sub_dirs, ["apps/*"]}.

{deps, [
    {cowboy, "2.13.0"}
]}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_unused_import,
    warn_unused_vars,
    warn_shadow_vars,
    warn_obsolete_guard
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, {git, "https://github.com/proper-testing/proper.git", {tag, "v1.5.0"}}}
        ]},
        {erl_opts, [nowarn_missing_spec]}
    ]},
    {quic, [
        {deps, [
            {quicer, {git, "https://github.com/emqx/quic.git", {branch, "main"}}}
        ]},
        {erl_opts, [{d, 'COWBOY_QUICER'}]},
        {overrides, [
            {add, cowboy, [
                {erl_opts, [{d, 'COWBOY_QUICER'}]}
            ]}
        ]}
    ]}
]}.
